/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* root CSS  */

:root {
    --primary-font: 'EB Garamond', serif;
    --secondary-font: 'Poppins', sans-serif;
    --primary-color: #B68C5A;
    --title-color: #414040;
    --light-gray: #E7E7E7;
    --dark-gray: #707070;
}


/* Common Style */

* {
    font-family: var(--secondary-font);
    box-sizing: border-box;
}

img {
    display: inline-block;
}

.btn--primary-color {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn--primary-color:hover {
    background-color: transparent;
    color: var(--primary-color) !important;
    border-color: var(--primary-color);
}

.primary-font {
    font-family: var(--primary-font);
}

.title__color {
    color: var(--title-color);
}

.mt__120 {
    margin-top: 120px;
}

.section__title {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 40px;
    line-height: 52px;
    color: var(--title-color);
}

.section__text {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--dark-gray);
}


/* Banner Style Starts */

.banner .banner__wrapper {
    padding: 104px 0;
    background-image: url('../images/Rectangle-4.png'), linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.intro {
    max-width: 692px;
}

.banner__intro .section__text {
    color: #E7E7E7;
}

/* Banner Style Ends */


/* Practice Area Style Starts */

.bg__gradient {
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
}

.practice-area__wrapper>div {
    padding: 56px 70px 70px;
}

/* Practice Area Style Ends */


/* Testimonial Section Style Starts */

.review {
    background: rgba(17, 17, 17, 0.8);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 96px 135px;
    background-blend-mode: multiply;
}

.review-1 {
    background-image: url('../images/review-bg-1.jpg');
}

.review-2 {
    background-image: url('../images/review-bg-2.jpg');
}

.review-3 {
    background-image: url('../images/review-bg-3.jpg');
}

/* Testimonial Section Style Ends */



/* FAQ Section Style Starts */

.faq__title {
    font-size: 24px !important;
    color: var(--title-color) !important;
}

.accordion-button[aria-expanded="true"],
.faq .accordion-button, 
.faq .accordion-body {
    background: #F3F3F3 !important;
    outline: none !important;
}

.faq {
    border: none !important;
}

/* FAQ Section Style Ends */